@font-face {
  font-family: 'xinaniconfont';  /* project id 284569 */
  src: url('//at.alicdn.com/t/font_erk0y1i25f561or.eot');
  src: url('//at.alicdn.com/t/font_erk0y1i25f561or.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_erk0y1i25f561or.woff') format('woff'),
  url('//at.alicdn.com/t/font_erk0y1i25f561or.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_erk0y1i25f561or.svg#xinaniconfont') format('svg');
}
.xaiconfont{
  font-family:"xinaniconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@mixin clearFix{
  &:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
  }
}
.clearFix{
  &:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
  }
}
.co_green{
  color: #7dc5a6;
}