@import "./mixin";

@font-face {
  font-family: 'xinaniconfont';  /* project id 284569 */
  src: url('//at.alicdn.com/t/font_mpcdqv1h91u7hkt9.eot');
  src: url('//at.alicdn.com/t/font_mpcdqv1h91u7hkt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_mpcdqv1h91u7hkt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_mpcdqv1h91u7hkt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_mpcdqv1h91u7hkt9.svg#xinaniconfont') format('svg');
}
.xaiconfont{
  font-family:"xinaniconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.clearFix{
  &:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
  }
}
.co_green{
  color: #7dc5a6;
}
.link{
  color: #3498db;
  cursor: pointer;
}
body{
  background: #F5F5F5;
}

.btn{
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  @include backgroundGradient(#00BCD4, #03A9F4, vertical);
  &:hover{
    background: #00BCD4;
  }
  &:active{
    @include backgroundGradient(#03A9F4, #00BCD4, vertical);
  }
}